@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap');
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42857143;
  word-break: keep-all;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-family: 'IBM Plex Sans KR', 'Segoe UI', 'Helvetica Neue', Helvetica,
    Verdana, Arial, sans-serif;
  overflow-x: hidden;
}

ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

button,
input,
select,
textarea {
  font: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* img {
  border: 0;
  vertical-align: middle;
  width: 100%;
} */

form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend,
caption {
  display: none !important;
}
button {
  border: 0;
  background: none;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
}
* {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}
body {
  font-family: 'Pretendard', sans-serif;
  overflow: hidden;
  background-color: black;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
}
::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}
.overlay--disable a {
  pointer-events: auto;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

img.intro-logo {
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  width: 120px;
  height: auto;
}
img.immerse {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: auto;
  height: 40px;
}
img.logo {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 2s ease-in-out;
  z-index: 10;
  width: auto;
  height: 32px;
}
.intro.intro--disappear img.logo,
.intro.intro--disappear img.scrollIcon,
.overlay--disable ~ .button-grid {
  opacity: 1;
}
.overlay--end.overlay--disable ~ .button-grid {
  opacity: 0;
}
img.scrollIcon {
  opacity: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s ease-in-out;
}

.intro--disappear img.intro-logo {
  opacity: 0;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.outro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.outro--appear {
  opacity: 1;
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slideOpen {
  0% {
    clip-path: circle(0% at 50% 50%);
  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes slideClose {
  0% {
    clip-path: circle(100% at 50% 50%);
  }

  100% {
    clip-path: circle(0% at 50% 50%);
  }
}

.button-grid {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 20px;
  background-color: #ffffff30;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  overflow: hidden;
  transition: all 2s ease-in-out;
}
.button-grid button {
  cursor: pointer;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.button-grid button.active {
  background-color: #66c1bf;
  color: black;
}
.slider-container {
  top: 0;
  left: 0;
  position: absolute;
  /* transition: all 1s ease-out; */
  background-color: black;
  animation: slideOpen 1s ease-in-out;
}
.slider-container.close {
  animation: 1s ease-in-out 0.5s slideClose;
}
.slider-container .close {
  top: 40px;
  right: 40px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
.slider-container .slider {
  width: 100%;
  height: 100vh;
  background-color: #66c1bf;
  animation: 1s ease-in-out 0.5s slideOpen;
}
.slider-container.close .slider {
  animation: slideClose 1s ease-in-out;
}

.slider-container .slider .slide {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  animation: 1s ease-in-out 0.8s slideOpen;
  animation: 1s linear 1s fadeIn;
  opacity: 0;
  animation-fill-mode: forwards;
}
.slider-container.close .slider .slide {
  animation: 1s ease-in-out slideClose;
}

.title-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
