@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
  --brand: #5bc4bf;
  --planet: #5bc4bf;
  --planet-bg: #edf3f2;
  --planet-op: #5bc4bf69;
}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  word-break: keep-all;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
div {
  white-space: pre-line;
}
ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  white-space: pre-line;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  outline: none !important;
}
a:active,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

button,
input,
select,
textarea {
  font: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* img {
  border: 0;
  vertical-align: middle;
  width: 100%;
} */

form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend,
caption {
  display: none !important;
}
button {
  border: 0;
  background: none;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
}
* {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}
body {
  font-family: 'Pretendard', sans-serif;
  overflow: hidden;
  background-color: black;
  overflow-x: hidden;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
}
::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #d9d9d930;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}
.overlay--disable a {
  pointer-events: auto;
}
.loader {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
#skip-button {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1001;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  color: white;
}
img.mgmt-logo {
  width: auto;
  height: 64px;
  margin-bottom: 8px;
}
/* img.intro-logo {
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  width: 120px;
  height: auto;
} */
img.immerse {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: auto;
  height: 24px;
}
img.logo {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 2s ease-in-out;
  z-index: 10;
  width: auto;
  height: 32px;
}
.intro.intro--disappear img.logo,
.intro.intro--disappear img.scrollIcon,
.overlay--disable ~ .button-grid,
.overlay--disable ~ .intro-replay {
  opacity: 1;
}
.overlay--end.overlay--disable ~ .button-grid,
.overlay--end.overlay--disable ~ .intro-replay {
  opacity: 0;
}
img.scrollIcon {
  opacity: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s ease-in-out;
}

.intro--disappear img.intro-logo {
  opacity: 0;
}
.slide4 .suni2 {
  position: absolute;
  bottom: 0;
  left: 100px;
  z-index: 1;
  width: 243px;
  height: auto;
}
.slide4 .intro-content,
.slide2 .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  position: relative;
  z-index: 2;
}
.intro4-title {
  position: absolute;
  transform: translateX(-50%);
  top: -28px;
  left: 50%;
  padding: 16px 40px;
  background: var(--brand);
  color: white;
  font-size: 24px;
  font-weight: 700;
  border-radius: 40px;
  z-index: 2;
}
.intro4-btn,
.intro2-btn {
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 28px;
  background: white;
  color: var(--brand);
  border-radius: 32px;
  border: 1px solid var(--brand);
  z-index: 0;
  left: -12px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.intro4-btn.active,
.intro2-btn.active {
  z-index: 2;
  color: white;
  background: var(--brand);
}
.intro4-btn.intro4-btn0,
.intro2-btn.intro2-btn0 {
  top: calc(50% - 72px);
}
.intro4-btn.intro4-btn1,
.intro2-btn.intro2-btn1 {
  top: calc(50%);
}
.intro4-btn.intro4-btn2,
.intro2-btn.intro2-btn2 {
  top: calc(50% + 72px);
}
.intro4-btn:hover,
.intro2-btn:hover {
  transform: translateY(-50%) translateX(-4px);
}
.intro4-tab,
.intro2-tab {
  z-index: 1;
  display: flex;
  width: 1200px;
  background-color: white;
  padding: 64px 40px;
  height: 450px;
  border-radius: 64px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.intro2-tab {
  gap: 32px;
}
.intro2-tab ul {
  width: 25%;
  border-radius: 20px;
  border: 1px solid vaR(--brand);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.intro2-tab h6 {
  font-size: 22px;
  font-weight: 700;
  color: var(--brand);
  margin-bottom: 14px;
}
.intro2-tab li {
  font-size: 18px;
  line-height: 150%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.intro2-tab ul:nth-child(1) li::before,
.intro2-tab ul:nth-child(2) li::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #e31937;
  margin-right: 8px;
  margin-top: 10px;
  flex: 0 0 auto;
  margin-left: 6px;
}
.intro2-tab ul:nth-child(3) li,
.intro2-tab ul:nth-child(4) li {
  color: #4f4f4f;
  opacity: 0.3;
}
.intro2-tab ul:nth-child(3) li::before,
.intro2-tab ul:nth-child(4) li::before {
  margin-right: 7px;
  content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="7" height="7" stroke="%23E31937" stroke-opacity="0.3"/></svg>');
}
.intro2-tab ul:nth-child(3) li.active::before,
.intro2-tab ul:nth-child(4) li.active::before {
  content: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.85938 3.64522L3.97091 6.82062C4.34747 7.38691 5.16726 7.42026 5.58858 6.88643L10.2344 1" stroke="%234F4F4F" stroke-width="2" stroke-linecap="round"/><rect x="1.5" y="3.70312" width="7" height="7" stroke="%23E31937"/></svg>');
  margin-right: 6px;
}
.intro2-tab ul:nth-child(3) li.active,
.intro2-tab ul:nth-child(4) li.active {
  color: #000000;
  opacity: 1;
}
.intro4-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.intro4-tab svg {
  width: 74%;
  height: auto;
}
.visible .intro4-tab svg g#G1 {
  animation: draw 0.5s ease-in-out;
}
.visible .intro4-tab svg g#G2 {
  animation: draw 0.5s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.visible .intro4-tab svg g#G3 {
  animation: draw 0.5s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes draw {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.outro--appear {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slideOpen {
  0% {
    clip-path: circle(0% at 50% 50%);
  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes slideClose {
  0% {
    clip-path: circle(100% at 50% 50%);
  }

  99% {
    clip-path: circle(0% at 50% 50%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.intro-replay {
  font-weight: 500;
  font-size: 14px;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 40px;
  transform: translateY(-50%);
  color: white;
  padding: 8px 16px;
  background-color: #ffffff30;
  backdrop-filter: blur(100px);
  border-radius: 16px;
  overflow: hidden;
  transition: all 2s ease-in-out;
  transition-delay: 1s;
  cursor: pointer;
}

.button-grid {
  font-weight: 500;
  font-size: 14px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
  background-color: #ffffff30;
  backdrop-filter: blur(100px);
  border-radius: 16px;
  overflow: hidden;
  transition: all 2s ease-in-out;
  transition-delay: 1s;
}
.button-grid button {
  background: transparent;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
}
.button-grid button.active {
  transition: background 0.3s ease-in-out;
}
.button-grid button:first-child.active {
  background: #cf471c;
}
.button-grid button:nth-child(2).active {
  background: #0aa39c;
}
.button-grid button:nth-child(3).active {
  background: #8e783f;
}
.button-grid button:nth-child(4).active {
  background: #c20d4e;
}
.button-grid button:nth-child(5).active {
  background: #575757;
}
.button-grid button:nth-child(6).active {
  background: #076dcc;
}
.button-grid button:nth-child(7).active {
  background: #5347dd;
}
.slider-container,
.intro-slider-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: slideOpen 1s ease-in-out;
  animation-fill-mode: backwards;
  overflow: hidden;
}

.slider-container.close,
.intro-slider-container.close {
  animation: slideClose 1s ease-in-out;
  animation-fill-mode: forwards;
}
.slider-container.close *,
.intro-slider-container.close * {
  z-index: -1;
  pointer-events: none;
}

.slider-container .slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--planet-bg);
}
.slider-container .slider .slide,
.intro-slider .intro-slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.slider-container .slider .slide.visible,
.intro-slider .intro-slide.visible {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.intro-slider .intro-slide.slide5 {
  background: transparent;
  color: white;
}
.intro-slider .intro-slide.slide5 h5 {
  margin-bottom: 24px;
}
.intro-slider .intro-slide.slide5 .intro-slide-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.slide-inner,
.intro-slide-inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 1400px;
  margin: 40px auto 40px;
  padding: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slide0 .intro-slide-inner {
  margin-top: 64px;
  max-width: 100%;
  padding: 0;
}
.slide3 .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  width: 100%;
}
.slide3 .intro-content img {
  width: 33.33%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.slide3 .intro-content img:hover {
  transform: translateY(-20px);
  /* box-shadow: var(--planet-op) 0px 2px 12px 0px; */
  /* box-shadow: #5bc4bf10 0px 10px 15px -3px, #5bc4bf30  0px 4px 6px -2px; */
  box-shadow: #5bc4bf80 0px 25px 20px -20px;
}
.intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-planet-slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 40px 24px;
  background: linear-gradient(90deg, #a4685880 0%, #ccb0ff80 100%);
  color: #ffffff;
  width: 100vw;
  margin-top: 32px;
  height: 180px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.intro-planet-title {
  font-size: 18px;
  font-weight: 700;
  padding: 8px 28px;
  background: #ffffff30;
  border-radius: 50px;
  margin-bottom: 20px;
}
.intro-planet-slider > div {
  line-height: 150%;
}
.slide-inner ::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.slide1 .content-area {
  height: 100%;
  position: relative;
}
.slide1 .content-area img {
  position: absolute;
  z-index: -1;
  width: 170px;
  height: auto;
  top: -147px;
  right: 64px;
}
.slide-inner h5,
.intro-slide h5 {
  font-weight: 700;
  color: var(--planet);
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 64px;
}

ul.tab-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-left: 56px;
  cursor: pointer;
}
.tab-title li {
  padding: 10px 20px;
  line-height: 150%;
  color: var(--planet);
  background-color: white;
  border: 1px solid var(--planet);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
  font-weight: 700;
}
.tab-title li.active {
  background-color: var(--planet);
  color: white;
}
.close-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--planet);
  top: 40px;
  right: 40px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.open .close-btn {
  pointer-events: auto;
}
.close-btn:hover,
.nextBtn:hover,
.prevBtn:hover {
  background: var(--planet-op);
  transform: scale(1.1);
}
.intro-slider-container .nextBtn,
.intro-slider-container .prevBtn,
.intro-slider-container .close-btn {
  background: var(--brand);
}

.intro-slider-container .prevBtn:hover {
  background: #5bc4bf69;
}
.intro-slider-container .intro-slide h5 {
  color: var(--brand);
}
.slideIndex {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: var(--planet-op);
  backdrop-filter: blur(2px);
  z-index: 100;
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide.visible > *,
.intro-slide.visible > * {
  animation: fadeIn1 1s ease 0s 1 normal forwards;
}
.slideDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transition: background 0.3s ease-in-out;
}
.slideDot.active {
  background: var(--planet);
}
.button-wrap {
  width: 100%;
  /* max-width: 1440px;
  min-width: 1270px; */
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}
.prevBtn,
.nextBtn {
  transition: all 0.3s ease-in-out;
  pointer-events: auto;
  cursor: pointer;
  width: 52px;
  height: 52px;
  background: var(--planet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prevBtn img {
  padding-left: 6px;
  line-height: 0;
  transform: rotate(180deg);
}
.nextBtn img {
  padding-left: 6px;
}
.table-component {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 40px;
  overflow: hidden;
  min-height: 300px;
  margin-bottom: 100px;
  box-shadow: var(--planet-op) 0px 2px 12px 0px;
}
.tab-contents {
  width: 100%;
  padding: 30px;
  border: 1px solid var(--planet);
  background-color: white;
  border-radius: 52px;
  box-shadow: var(--planet-op) 0px 2px 12px 0px;
}
.table-component ul.tab-title {
  background-color: var(--planet);
  margin: 0 auto;
  padding-top: 90px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.table-component ul.tab-title li {
  border-radius: 40px;
  height: 40px;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--planet);
}
.table-component ul.tab-title li.active {
  color: var(--planet);
  background-color: white;
}
.table-component .tab-contents {
  border-radius: 0;
  border: none;
  padding: 56px 30px 30px;
}
.table-component .tab-contents .level {
  display: none;
}
.table-component .tab-contents .level.active {
  display: flex;
}

/* .table-component .tab-contents .level .table-content {
  opacity: 0;
}
.table-component .tab-contents .level.active .table-content {
  opacity: 1;
} */
.table-component .tab-contents .level .table-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.table-component .tab-contents .level .table-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--planet);
}

.table-component .tab-contents .level .table-content > div:last-child {
  border: none;
  padding-bottom: 0;
}
.table-component .tab-contents .level .table-content > div > * {
  width: 33.33%;
}
.table-component .tab-contents .level .table-content .course-title,
.table-component .tab-contents .level .table-content .course-desc {
  padding: 20px 40px;
}
.course-title {
  text-align: center;
  font-weight: 700;
  color: var(--planet);
  line-height: 150%;
}
.table-component .tab-contents .level li a::before,
.slide1 .scroll-contents ul li a::before {
  margin-top: 9px;
}
.table-component .tab-contents .level > div.last-cell {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px 0;
}
.table-component .tab-contents .level li {
  line-height: 150%;
}
.table-component .tab-contents .table-header {
  height: 36px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid var(--planet);
}

.table-header span {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--planet);
}
.table-header span {
  width: 25%;
}
.tab-contents .card {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.tab-contents .card.active {
  display: flex;
}
.tab-contents .card > div {
  flex: 1;
  padding: 24px;
  min-height: calc(270px - 60px);
}
.tab-contents .card > div:first-child {
  border-right: 1px solid var(--planet);
}
.tab-contents h6,
.scroll-contents h6 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  color: var(--planet);
}
.scroll-contents h6 {
  font-size: 18px;
}
.tab-contents ul,
.scroll-contents ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
.scroll-contents {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  background-color: white;
  border-radius: 52px;
  border: 1px solid var(--planet);
  gap: 20px;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
}
.scroll-card {
  padding: 24px;
  padding-right: 12px;
  border-radius: 24px;
  border: 1px solid var(--planet);
  height: calc(95% - 30px);
  flex: 1;
}
.scroll-card > div {
  height: 90%;
  overflow-y: auto;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 12px;
  gap: 24px;
}
.scroll-card > div::-webkit-scrollbar {
  width: 2px;
}

.scroll-card > div::-webkit-scrollbar-thumb {
  background: var(--planet);
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scroll-card::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.list-title {
  padding: 8px;
  color: var(--planet) !important;
  font-weight: 700;
  border: 1px solid var(--planet);
  background-color: var(--planet-bg);
  border-radius: 10px;
  font-size: 14px;
  width: fit-content;
}
.tab-contents ul li,
.scroll-contents ul li a,
.table-content .course-desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: #4f4f4f;
  line-height: 150%;
}
.scroll-contents ul li a,
.table-component .tab-contents ul li,
.table-content .course-desc {
  font-size: 16px;
  line-height: 150%;
}
.scroll-contents ul li a[href=''],
.outro-content-level-list li a[href=''] {
  pointer-events: none;
}
.tab-contents ul li:before,
.scroll-contents ul li a::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #e31937;
  margin-right: 8px;
  margin-top: 10px;
  flex: none;
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}
.scroll-contents ul li a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-contents .scroll-card:first-child ul li:hover a,
.scroll-contents ul li.active a {
  color: #ffffff;
  background-color: var(--planet);
}
.scroll-contents ul li.active a {
  color: #ffffff;
}
.scroll-contents .scroll-card:first-child ul li:hover a::before,
.scroll-contents ul li.active a:before {
  background-color: white;
}
.tab-desc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 80px;
}

@keyframes bubble {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-3px);
  }
}
.desc-content,
.outro-balloon,
.intro-balloon {
  position: relative;
  max-width: 700px;
  padding: 20px 56px;
  border: 1px solid var(--planet);
  background-color: white;
  border-radius: 32px;
  color: #4f4f4f;
  line-height: 200%;
  box-shadow: var(--planet-op) 0px 2px 12px 0px;
  animation: bubble 1.5s ease-in Infinite Alternate;
}
.outro-balloon,
.intro-balloon {
  border: 1px solid var(--brand);
  box-shadow: #5bc4bfba 0px 2px 12px 0px;
  z-index: 0;
}
.intro-balloon {
  font-size: 18px;
  max-width: 500px;
  padding: 40px 56px;
}
.outro-balloon span {
  color: var(--brand);
  font-weight: 700;
}
.tab-desc img {
  width: 265px;
  height: auto;
}
.intro-slide.slide1 .title-area {
  position: relative;
}
.intro-slide.slide1 .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-slide.slide1 .intro-content ul::after {
  content: '';
}
.intro-slide.slide1 .intro-content svg {
  width: 66.66%;
  height: auto;
}
.intro-slide.slide1 .intro-content .content-card {
  padding: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 24px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  position: relative;
  gap: 10px;
}
.intro-slide.slide1 .intro-content .content-card:before {
  content: '';
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
.intro-slide.slide1 .intro-content .content-card:nth-child(1):before {
  width: 100%;
  background-color: #5bc4bf;
}
.intro-slide.slide1 .intro-content .content-card:nth-child(2):before {
  width: 66.66%;
  background-color: #4d8588;
}
.intro-slide.slide1 .intro-content .content-card:nth-child(3):before {
  width: 33.33%;
  background-color: #44686f;
}
.intro-slide.slide1 .intro-content .content-card.active {
  box-shadow: #5bc4bfba 0px 2px 12px 0px;
  transform: translateY(-2px) scale(1.1);
}
.intro-slide.slide1 .intro-content .intro-content-wrap {
  width: 33.33%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.intro-slide.slide1 .intro-content .content-card h6 {
  font-size: 24px;
  margin-bottom: 14px;
  color: #25625f;
  font-weight: 700;
}
.intro-slide.slide1 .intro-content .content-card h6 span {
  font-weight: 700;
  color: var(--brand);
}
.intro-slide.slide1 .intro-content .content-card h6 span:nth-of-type(2) {
  font-size: 18px;
}
.intro-slide.slide1 .intro-content .content-card li {
  display: inline;
  padding-left: 14px;
  position: relative;
  line-height: 150%;
}
.intro-slide.slide1 .intro-content .content-card li span {
  color: var(--brand);
}
.intro-slide.slide1 .intro-content .content-card li:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #e31937;
  margin-right: 8px;
  flex: 0 0 auto;
  margin-left: 6px;
  left: -3px;
  top: 10px;
}
.intro-balloon {
  position: absolute;
  right: 300px;
  top: 0;
}
.intro-balloon img {
  width: 200px;
  height: auto;
  position: absolute;
  right: -250px;
  top: -20px;
  z-index: 1;
}
.intro-balloon div {
  font-weight: 700;
}
.desc-content:after,
.outro-balloon:after,
.intro-balloon:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%23CF471C" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
  position: absolute;
  width: 96px;
  height: auto;
  top: -5px;
  right: -55px;
}
.slider1 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%230AA39C" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.slider2 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%238E783F" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.slider3 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%23C20D4E" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.slider4 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%23575757" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.slider5 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%23076DCC" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.slider6 .desc-content:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%235347DD" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}
.outro-balloon:after,
.intro-balloon:after {
  content: url('data:image/svg+xml,<svg viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_222_158)"><path d="M34.8938 2.25H-706.48C-719.597 2.25 -730.23 12.8832 -730.23 26V96.4463C-730.23 109.563 -719.597 120.196 -706.48 120.196H-3.48717C9.62959 120.196 20.2628 109.563 20.2628 96.4463V31.4026C20.2628 22.4411 26.8414 14.8382 35.7099 13.5505C42.6826 12.5381 41.9396 2.25 34.8938 2.25Z" fill="white" stroke="%235bc4bf" stroke-width="0.5"/></g><defs><clipPath id="clip0_222_158"><rect width="47" height="35" fill="white"/></clipPath></defs></svg>');
}

/* inrto */
.intro-slider-container.open {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.intro-slider-container .visible .start-btn,
.out-replay-btn {
  pointer-events: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--brand);
  font-weight: 700;
  color: white;
  background-color: #312c3a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 120%;
}
.out-replay-btn {
  margin-left: 20px;
}
.intro-slider-container .visible .start-btn {
  margin-top: 100px;
}
.intro-slider-container .visible .start-btn:hover,
.out-replay-btn:hover {
  background: #5bc4bf90;
  transform: translateY(-10px);
  box-shadow: #5bc4bfba 0px 2px 12px 0px;
}
.intro-slider {
  width: 100%;
  height: 100%;
  perspective: 1200px;
}
.intro-slide.slide0 {
  width: 100%;
  height: 100%;
  background: url('./images/background.jpg');
  background-size: cover;
}
.intro-slide.slide0 .intro-slide-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.slide0 .intro-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
  height: 100%;
}
.intro-slide {
  background-color: #312c3a;
}

.intro-button-wrap {
  position: relative;
}
.visible .intro-button-wrap .button-card {
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
}

.intro-button-wrap .button-card:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background: #ffffffd6;
  border: 4px solid #feb3a4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: backwards;
  -webkit-animation: blink 1.2s ease-in-out infinite;
  animation: blink 1.2s ease-in-out infinite;
  pointer-events: none;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro-desc,
.intro-desc span {
  color: white;
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
}
.intro-desc span {
  opacity: 1;
  font-size: 28px;
}
.intro-desc span:first-of-type {
  color: #feb4a5;
}
.intro-desc span:nth-of-type(2) {
  color: #f3aaad;
}
.intro-desc span:nth-of-type(3) {
  color: #d8c0fc;
}
.intro-button-wrap .button-card img {
  width: auto;
  height: 200px;
}
.button-card .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outro-container {
  width: 100%;
  height: 100%;
  background-color: #312c3a;
}
.outro-balloon-wrap {
  margin: 40px auto 0;
  position: relative;
  height: 100px;
  width: 1270px;
}
.outro-balloon {
  display: flex;
  max-width: 1000px;
  height: 100px;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  position: absolute;
  right: 300px;
}
.outro-balloon h1 {
  color: var(--brand);
  font-weight: 700;
}
.outro-balloon > div {
  line-height: 150%;
  font-weight: 700;
}
.outro-balloon img {
  z-index: -1;
  position: absolute;
  right: -250px;
  top: -28px;
}
.outro-btn-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.outro-btn-wrap > div {
  min-width: 160px;
  height: 52px;
  padding: 10px 18px;
  font-weight: 600;
  font-size: 20px;
  background: white;
  color: var(--brand);
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand);
}
.outro-btn-wrap .active {
  color: white;
  background: var(--brand);
}
.outro--appear .outro-btn-wrap > div {
  cursor: pointer;
}
.outro-content-desc {
  padding-left: 20px;
  max-width: 800px;
  line-height: 150%;
  font-weight: 700;
}

.outro-wrap {
  width: 100%;
  height: 80vh;
  max-width: 1270px;
  min-width: 1270px;
  margin: 40px auto 0;
  padding: 40px 20px 20vh;
  background-color: white;
  border-radius: 52px;
  border: 1px solid var(--brand);
  position: relative;
  z-index: 0;
}
.outro-wrap > div {
  overflow-y: auto;
  height: 100%;
}
.outro-content-wrap {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0 20px;
  transition: opacity 0.3s ease-in-out;
}
.outro-content-level-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.outro-content-wrap.active {
  display: flex;
  opacity: 1;
  height: 100%;
}
.outro-content-level {
  width: 100%;
  padding: 40px;
  border: 1px solid var(--brand);
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.outro-content-level:hover {
  box-shadow: #5bc4bfba 0px 2px 12px 0px;
  transform: translateY(-2px);
}
.outro-content-level h5 {
  font-size: 22px;
  font-weight: 700;
  color: #25625f;
  margin-bottom: 24px;
}
.outro-content-level h5 span {
  color: var(--brand);
  font-weight: 700;
}
.outro-content-level-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 40px;
}
.outro-content-level-list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  color: #4f4f4f;
}
.outro--appear .active .outro-content-level-list li {
  pointer-events: auto;
  cursor: pointer;
  z-index: 10;
}
.outro-content-level-list li a::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #e31937;
  margin-right: 8px;
  margin-top: 3px;
  flex: 0 0 auto;
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}
.outro-content-level-list li a[href^='http']:hover {
  text-decoration: underline;
  color: #000000;
}
