@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap');
:root {
  --brand: #5bc4bf;
  --planet: #5bc4bf;
  --planet-bg: #edf3f2;
  --planet-op: #5bc4bf69;
}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42857143;
  word-break: keep-all;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-family: 'IBM Plex Sans KR', 'Segoe UI', 'Helvetica Neue', Helvetica,
    Verdana, Arial, sans-serif;
  overflow-x: hidden;
}

ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

button,
input,
select,
textarea {
  font: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* img {
  border: 0;
  vertical-align: middle;
  width: 100%;
} */

form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend,
caption {
  display: none !important;
}
button {
  border: 0;
  background: none;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
}
* {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}
body {
  font-family: 'Pretendard', sans-serif;
  overflow: hidden;
  background-color: black;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
}
::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #d9d9d930;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}
.overlay--disable a {
  pointer-events: auto;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

img.intro-logo {
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  width: 120px;
  height: auto;
}
img.immerse {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: auto;
  height: 24px;
}
img.logo {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 2s ease-in-out;
  z-index: 10;
  width: auto;
  height: 32px;
}
.intro.intro--disappear img.logo,
.intro.intro--disappear img.scrollIcon,
.overlay--disable ~ .button-grid {
  opacity: 1;
}
.overlay--end.overlay--disable ~ .button-grid {
  opacity: 0;
}
img.scrollIcon {
  opacity: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s ease-in-out;
}

.intro--disappear img.intro-logo {
  opacity: 0;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.outro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.outro--appear {
  opacity: 1;
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slideOpen {
  0% {
    clip-path: circle(0% at 50% 50%);
  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes slideClose {
  0% {
    clip-path: circle(100% at 50% 50%);
  }

  100% {
    clip-path: circle(0% at 50% 50%);
  }
}

.button-grid {
  font-weight: 500;
  font-size: 14px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
  background-color: #ffffff30;
  backdrop-filter: blur(100px);
  border-radius: 16px;
  overflow: hidden;
  transition: all 2s ease-in-out;
  transition-delay: 1s;
}
.button-grid button {
  background: transparent;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
}
.button-grid button.active {
  transition: background 0.3s ease-in-out;
}
.button-grid button:first-child.active {
  background: #cf471c;
}
.button-grid button:nth-child(2).active {
  background: #0aa39c;
}
.button-grid button:nth-child(3).active {
  background: #8e783f;
}
.button-grid button:nth-child(4).active {
  background: #c20d4e;
}
.button-grid button:nth-child(5).active {
  background: #575757;
}
.button-grid button:nth-child(6).active {
  background: #076dcc;
}
.button-grid button:nth-child(7).active {
  background: #5347dd;
}
.slider-container {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: slideOpen 1s ease-in-out;
}
.slider-container.close {
  animation: slideClose 1s ease-in-out;
}

.slider-container .slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--planet-bg);
}
.slider-container .slider .slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.slider-container .slider .slide.visible {
  z-index: 1;
}
.slide-inner {
  width: 100%;
  max-width: 1292px;
  margin: 44px auto 0;
  padding: 20px;
}
.slide1 .slide-inner {
  height: 100%;
}
.slide1 .content-area {
  height: 100%;
}

.slide-inner h5 {
  color: var(--planet);
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 64px;
}

ul.tab-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-left: 56px;
  cursor: pointer;
}
.tab-title li {
  padding: 10px 20px;
  line-height: 150%;
  color: var(--planet);
  background-color: white;
  border: 1px solid var(--planet);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
  font-weight: bold;
}
.tab-title li.active {
  background-color: var(--planet);
  color: white;
}
.close-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--planet);
  top: 40px;
  right: 40px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
.button-wrap {
  width: 100%;
  /* max-width: 1440px;
  min-width: 1270px; */
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}
.prevBtn,
.nextBtn {
  pointer-events: auto;
  cursor: pointer;
  width: 52px;
  height: 52px;
  background-color: var(--planet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prevBtn img {
  padding-left: 6px;
  line-height: 0;
  transform: rotate(180deg);
}
.nextBtn img {
  padding-left: 6px;
}
.table-component {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 40px;
  overflow: hidden;
}
.tab-contents {
  width: 100%;
  padding: 30px;
  border: 1px solid var(--planet);
  background-color: white;
  border-radius: 52px;
}
.table-component ul.tab-title {
  background-color: var(--planet);
  margin: 0 auto;
  padding-top: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.table-component ul.tab-title li {
  border-radius: 40px;
  height: 40px;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--planet);
}
.table-component ul.tab-title li.active {
  color: var(--planet);
  background-color: white;
}
.table-component .tab-contents {
  border-radius: 0;
  border: none;
  padding: 56px 30px 30px;
}

.table-component .tab-contents .level {
  display: none;
}
.table-component .tab-contents .level.active {
  display: flex;
}
.table-component .tab-contents .level .table-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.table-component .tab-contents .level .table-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--planet);
}

.table-component .tab-contents .level .table-content > div:last-child {
  border: none;
}
.table-component .tab-contents .level .table-content > div > * {
  width: 33.33%;
}
.table-component .tab-contents .level .table-content .course-title,
.table-component .tab-contents .level .table-content .course-desc {
  padding: 20px 40px;
}
.course-title {
  text-align: center;
  font-weight: bold;
  color: vaR(--planet);
}
.table-component .tab-contents .level li::before {
  margin-top: 10px;
}
.table-component .tab-contents .level > div.last-cell {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.table-component .tab-contents .level li {
  line-height: 150%;
}
.table-component .tab-contents .table-header {
  height: 36px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid var(--planet);
}

.table-header span {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--planet);
}
.table-header span {
  width: 25%;
}
.tab-contents .card {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.tab-contents .card.active {
  display: flex;
}
.tab-contents .card > div {
  flex: 1;
  padding: 24px;
  min-height: calc(270px - 60px);
}
.tab-contents .card > div:first-child {
  border-right: 1px solid var(--planet);
}
.tab-contents h6,
.scroll-contents h6 {
  font-size: 24px;
  margin-bottom: 24px;
  color: var(--planet);
}
.scroll-contents h6 {
  font-size: 18px;
}
.tab-contents ul,
.scroll-contents ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
.scroll-contents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  background-color: white;
  border-radius: 52px;
  border: 1px solid var(--planet);
  gap: 20px;
  height: 80vh;
}
.scroll-card {
  padding: 24px;
  padding-right: 12px;
  border-radius: 24px;
  border: 1px solid var(--planet);
  height: calc(95% - 30px);
  flex: 1;
}
.scroll-card > div {
  height: 90%;
  overflow-y: auto;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 12px;
  gap: 24px;
}
.scroll-card > div::-webkit-scrollbar {
  width: 2px;
}

.scroll-card > div::-webkit-scrollbar-thumb {
  background: var(--planet);
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scroll-card::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.list-title {
  padding: 8px;
  color: var(--planet) !important;
  font-weight: bold;
  border: 1px solid var(--planet);
  background-color: var(--planet-bg);
  border-radius: 10px;
  font-size: 14px;
  width: fit-content;
}
.tab-contents ul li,
.scroll-contents ul li,
.table-content .course-desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  color: #4f4f4f;
  line-height: 150%;
}
.scroll-contents ul li,
.table-component .tab-contents ul li,
.table-content .course-desc {
  font-size: 14px;
  line-height: 150%;
}
.scroll-contents ul li:hover {
  color: #ffffff;
  background-color: var(--planet);
}
.tab-contents ul li:before,
.scroll-contents ul li::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #e31937;
  margin-right: 8px;
  margin-top: 10px;
  flex: 0 0 auto;
}
.scroll-contents ul li::before {
  margin-top: 10px;
}
.scroll-contents ul li:hover::before {
  background-color: white;
}
.tab-desc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.desc-content {
  max-width: 700px;
  padding: 20px 56px;
  border: 1px solid var(--planet);
  background-color: white;
  border-radius: 32px;
  color: #4f4f4f;
  line-height: 200%;
  box-shadow: var(--planet-op) 0px 2px 12px 0px;
}

.tab-desc img {
  width: 300px;
  height: auto;
}
